.card { height: 60vh; border-radius: 16px; margin-top: 24px; }
.card :global(.ant-card-body) { padding: 16px; padding-top: 24px; height: 100%; overflow: hidden; }
.list { height: 100%; overflow: auto; display: flex; flex-direction: column; gap: 16px; }
